@import '../../styles/variables'

.header
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  height: $headerHeight
  background-color: #fff;
  z-index: 999;
  
  @media (max-width $md)
    height: $headerHeightMd

.headerInner
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: nowrap row;

  padding: 0 20px;

  @media (max-width: 992px)
    padding: 0 10px;

.logo
  
  :global a
    display: block
    padding: 10px

.img
  width: 116px;
  
  @media (max-width $md)
    width: 90px

