.card
  composes c-card from '../../styles/card.styl'
  padding: 35px 40px

.row
  margin-bottom 1rem
  
.label
  font-weight 400
  font-size .75rem
  
.text
  font-weight 900
  font-size 1rem
  margin-top .25rem
  
  text-align right