@import '../../../styles/variables'
$cs_labelHeight = 50px

.catSlider
    width 100%
    outline none

    &
    & *
        user-select none

    &__wrapper
        max-width: 960px
        margin 70px auto 0
        padding 0 15px
        text-align: right

        @media (max-width $md)
            margin-top 35px

    // @heading
    &__heading
        color #424242

        font-size 20px
        font-weight 900

        margin-bottom 30px
        padding-right 1rem

        @media (max-width $sm)
            margin-bottom 15px


    &__slide
        cursor pointer
        padding 0 5px
        // width 300px
        
        // @media (max-width $lg)
        //     width 240px

    &__item
        display block
        position relative

        border 1px solid #e0e0e0
        border-radius 3px
        
        overflow hidden
        margin 0 auto

        direction rtl

        &:hover
        &:focus
            text-decoration: none

    &-item__inner
        position relative
        overflow hidden

        @media (min-width $lg + 1)
            height 180px

        @media (max-width $lg)
            height 125px

    // @over
    &__over
        position absolute
        top 0
        left 0
        right 0
        bottom 0

        opacity 0
        transform scale(.85)

        display flex
        align-items center
        justify-content center

        transition .15s ease-in-out

        background-color alpha(#fff, .5)
        padding 20px

        z-index 100

        @media (max-width $md)
            padding 10px

    &__bg
        height 100%

        transition .15s ease-in-out


    @keyframes lazyLoadZoom 
        from
            transform scale(.95)
            opacity .8
        to
            transform scale(1)
            opacity 1

    &__img
        width 100%
        height 100%

        object-fit cover
        font "object-fit: cover;"

        animation lazyLoadZoom .15s ease-in-out forwards

    &__label
        color #424242
        padding 1rem

        @media (max-width $md)
            padding 10px 15px

            background-color #fff

            // ellipsis effect
            text-overflow ellipsis
            overflow hidden
            white-space nowrap

        h3
            font-size 1.1rem
            line-height 1.2

            margin 0
            display inline-block

    &__price
        margin-top 22px
        padding-top 19px

        position relative

        font-size .9rem
        color #848484

        strong
            font-weight 900

        &:after
            content 'میانگین قیمت:'

            position absolute
            top 0
            right 0

            font-size 10px
            color #5189f0

    &__outer
        position relative

        padding-bottom 40px

        @media (min-width 1080px)
            margin 0 -60px

            .flickity-viewport
                margin 0 60px

        .tns-nav
            position absolute

            bottom -15px
            left 50%

            height 15px

            transform translateX(-50%)

.slick-dots 
    $size = 10px
    bottom -45px

    li
        button
            transition .15s $ease

            background-color alpha(#d8d8d8, .7)
            // opacity .7

            border-radius 50px

            width $size
            height $size

            ^[1].slick-active ^[2..-1]
                background-color $color

            &:before
                content none

.slick-arrow
    border-radius 50px
    width 50px
    height 50px
    background-color #fff

    font-family 'Chibaki' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    z-index 2

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    
    &.slick-next:before
    &.slick-prev:before
        font-family 'Chibaki' !important
        color $dark-grey-blue

    &.slick-prev
        right -50px
        &:before
            content icon-next

    &.slick-next
        left -50px
        &:before
            content icon-back