.wrapper {
	background-color: rgb(246, 247, 249);

	padding-top: 120px;
}

.card {
	background-color: #fff;

	border-radius: 5px;
	overflow: hidden;
}

.card__hover {

}

.card__body {
	padding: 10px 60px;
	line-height: 1.7;
	font-size: 1.1rem;
}

.cover {
	background-color: #1b70ec;
	height: 200px;
}

.avatar {
	width: 150px;
	height: 150px;

	border-radius: 75px;

	position: absolute;

	bottom: 0;
	right: 0;
	left: 0;

	margin: 0 auto;

	transform: translateY(50%);

	box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

.userName {
	font-weight: 900;
	font-size: 21px;
	margin: 0;
	text-align: center;
}

.desc {
	color: #758CA0;
	font-size: 17px;
	text-align: center;
	line-height: 2;

	margin-bottom: 2rem;
}

.seprator {
	height: 1px;
	width: 100%;
	background-color: #eee;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title {
	font-weight: bold;
}

.profImage {
	width: 100px;
	height: 100px;
	margin-left: 10px;
}

.activeBadge{
  color: green
}

.inactiveBadge{
  color: gray
}
