{
  "apps": [
    {
      "name": "api",
      "script": "npm",
      "args": "start",
      "watch": false,
      "instances": "max",
      "exec_mode": "cluster",
      "max_memory_restart": "1G"
    }
  ]
}