@import '../../styles/variables.styl'

.list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: nowrap;

  list-style: none;
  
  @media (max-width $md) {
    display: none
  }
}

.link
  display: block;
  color: $color
  cursor: pointer;
  transition: 0s;
  
  &:hover
    color: #62abf5;

.listLink
  composes link
  padding: 0 15px;

  line-height: $headerHeight;
  height: $headerHeight;
  font-size: 1rem;
  font-weight: 600;

  &Mobile
    composes link
    font-size: 1.1rem
    font-weight: 500
  
    padding: 1.1rem 2rem
    
.logo
  &Mobile
    width: 105px
    height: 50px
  
    object-fit contain
    font-family 'object-fit: contain;'
    
    &Link
      margin-bottom: 15px
      padding-right: 20px
