.list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: nowrap;

  list-style: none;
}

.listLink {
  display: block;
  padding: 0 15px;

  line-height: 65px;
  height: 65px;
  font-size: 1rem;
  font-weight: 600;

  color: #1e87f0;
  cursor: pointer;
  transition: 0s;

  &:hover {
    color: #62abf5;
  }
}