@import '../../styles/variables.styl'

.list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: nowrap;

  list-style: none;
  
  @media (max-width $md) {
    display: none
  }
}

.link
  display: block;
  color: $color
  cursor: pointer;
  transition: 0s;

.listLink
  composes link
  padding: 0 15px;

  line-height: 65px;
  height: 65px;
  font-size: 1rem;
  font-weight: 600;


  &:hover
    color: #62abf5;
  
  &Mobile
    composes link
    font-size: 1.3rem
    font-weight: 600
  
    padding: 1.1rem 2rem
