.title
    composes title from './Questions.module.styl'

.inputsWrapper
.inputWrapper
    margin-top: 10px;
    margin-bottom: 10px;

.label
    composes label from '../../styles/form.styl'
    
.submit
    display none