.modal {
    margin-top: 10px;
    min-height: 270px;
}

.stepsContent {
    height: 270px;
    overflow: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.closeButton {
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
}

.button {
    background-color: #ffffff;
    margin-left: 8px;
    border: none;
    margin-top: 10px;
}

.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}