.title
    composes: title from './Questions.module.styl';

.row
    margin: 1rem 0
    
.select
    composes input from '../../styles/form.styl';
    
    width: 100%
    display: block

.label
    composes label from '../../styles/form.styl';
