.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;

}

.selectWrapper {
    margin-bottom: 20px;
}

.inputWrapper {
    margin: 10px 0px 10px 10px;
}
