.title
    composes: title from './Questions.module.styl';

.row
    composes row from './Questions.module.styl'

.inputWrapper
    margin-top: 10px;
    margin-bottom: 10px;
    
.radioGroup
    composes radioGroup from './Questions.module.styl'
