.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;

}

.row {
    margin-bottom: 20px;
}

.inputWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.datePickerWrapper {
    z-index: 10001;
    position: relative;
}