@import '../../styles/variables'

.component
    &:focus
        outline none

    :global(#get-app)
        :global(.c-section__heading)
            margin 0 0 15px

.wrapper
    text-align: center;
    
.logo
    composes logo from './Questions.module.styl'
    
    margin: 0 auto 1rem
    
.whiteBox
    margin: 1rem 0
    
    font-size: 1.2rem
    font-weight: 900

    color #12c854
    display: inline-block
    
.desc
    color: $dark-grey-blue;
    font-size: 1.1rem
    
    text-align: center
    margin: 1.8rem auto 2rem
    
    max-width: 360px
    line-height: 1.8

.nowrap
    white-space nowrap
    
.badge
    margin: 0
    flex 1 1 170px
    max-width 170px
    
    &Wrapper
        display: flex
        flex-direction row

        align-items: center
        justify-content center

        margin-bottom: 1.5rem

        @media (max-width $md)
            flex-wrap wrap