.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.text {
    text-align: center;
    margin-top: 1rem;
}

.resendText {
    text-align: center;
}

.resendButton {
    display: block;
    margin: 1rem auto;
}

.inputWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}