.title {
    composes title from './Questions.module.styl'
}

.text {
    text-align: center;
    margin-top: 1rem;
}

.resendText {
    text-align: center;
}

.resendButton {
    display: block;
    margin: 1rem auto;
}

.inputWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}