@import 'variables'
@import 'utils'
@import 'container'
@import 'icon'
@import 'grid'
@import 'btn'
@import "Hero"
@import 'Profile'

@import 'Slider'

@font-face {
  font-family: "Shabnam FD";
  src: local("Shabnam FD"), local("Shabnam-FD"),
          url("/assets/fonts/Shabnam/Shabnam-FD.woff2") format("woff2"),
          url("/assets/fonts/Shabnam/Shabnam-FD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam FD";
  src: local("Shabnam Light FD"), local("Shabnam-Light-FD"),
          url("/assets/fonts/Shabnam/Shabnam-Light-FD.woff2") format("woff2"),
          url("/assets/fonts/Shabnam/Shabnam-Light-FD.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam FD";
  src: local("Shabnam Bold FD"), local("Shabnam-Bold-FD"),
          url("/assets/fonts/Shabnam/Shabnam-Bold-FD.woff2") format("woff2"),
          url("/assets/fonts/Shabnam/Shabnam-Bold-FD.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

html
  font-family: 'Shabnam FD';
  box-sizing: border-box;
  font-size: 16px;

  @media (max-width $xl)
    font-size 15px

  @media (max-width $lg)
    font-size 14px

  @media (max-width $md)
    font-size 13px

body {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.aboutText
  font-size: 1.4rem
  font-weight: 500

  line-height: 1.8

  padding: 0 1rem
  margin: 4rem 0

/**
 * Modifications to ant.design
 */

.ant-rate
  color #FFBB44

.ant-rate-star
  &:first-child
    margin-right: 0

.ant-dropdown
	right auto !important
	
	&-menu
		text-align: right
	
.ant-select-dropdown-menu
	padding: 0
	
.ant-dropdown-menu-item
.ant-dropdown-menu-submenu-title
.ant-select-dropdown-menu-item
	color: #334657;

.ant-modal
    &-mask
        //z-index: 999998
    
    &-wrap
        //z-index: 999999

    &-content
        min-height 270px
        
    &-centered
        .ant-modal
            text-align: right

.ant-progress-bg
  float left
  
.ant-checkbox-checked .ant-checkbox-inner:after
  transform rotate(45deg) scale(-1, 1)
  right: 3.5px

.ant-checkbox-checked
	.ant-checkbox-inner:after
		transform rotate(45deg) scale(1) !important

.ant-rate
	direction: ltr
	display inline-flex
	flex-direction row

	&-star
		&:first-child
			margin-right: 8px
		&:last-child
			margin-right 0

/**
 * React image lightbox
 */

.ReactModalPortal
  position relative
  z-index 999999
