@import 'variables'
@import 'utils'
@import 'container'
@import 'icon'
@import 'grid'
@import 'btn'
@import "Hero"
@import 'Profile'

@import 'Slider'

@font-face {
    font-family: "Shabnam FD";
    src: local("Shabnam FD"), local("Shabnam-FD"),
            url("/assets/fonts/Shabnam/Shabnam-FD.woff2") format("woff2"),
            url("/assets/fonts/Shabnam/Shabnam-FD.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Shabnam FD";
    src: local("Shabnam Light FD"), local("Shabnam-Light-FD"),
            url("/assets/fonts/Shabnam/Shabnam-Light-FD.woff2") format("woff2"),
            url("/assets/fonts/Shabnam/Shabnam-Light-FD.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Shabnam FD";
    src: local("Shabnam Bold FD"), local("Shabnam-Bold-FD"),
            url("/assets/fonts/Shabnam/Shabnam-Bold-FD.woff2") format("woff2"),
            url("/assets/fonts/Shabnam/Shabnam-Bold-FD.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}

html
    font-family: 'Shabnam FD';
    box-sizing: border-box;
    font-size: 16px;
    
    @media (max-width $xl)
        font-size 15px
    
    @media (max-width $lg)
        font-size 14px
    
    @media (max-width $md)
        font-size 13px

body {
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.aboutText
    font-size: 1.3rem
    font-weight: 500
    
    line-height: 1.8
    
    padding: 0 1rem
    margin: 4rem 0

/**
 * Modifications to ant.design
 */

.ant-rate
    color #FFBB44

.ant-rate-star
    &:first-child
        margin-right: 0

.ant-dropdown
    right auto !important
    
    &-menu
        text-align: right

.ant-select-dropdown-menu
    padding: 0

.ant-dropdown-menu-item
.ant-dropdown-menu-submenu-title
.ant-select-dropdown-menu-item
    &:not(&-active)
        color: #334657;

.ant-modal
    &-mask
        //z-index: 999998
    &-wrap
        //z-index: 999999
    &-content
        min-height 270px
    
    &-centered
        .ant-modal
            text-align: right

.ant-progress-bg
    float left

.ant-checkbox-checked .ant-checkbox-inner:after
    transform rotate(45deg) scale(-1, 1)
    right: 3.5px

.ant-checkbox-checked
    .ant-checkbox-inner:after
        transform rotate(45deg) scale(1) !important

.ant-rate
    direction: ltr
    display inline-flex
    flex-direction row
    
    &-star
        &:first-child
            margin-right: 8px
        &:last-child
            margin-right 0

.ant-popover
    text-align: right
    
.ant-message .anticon
    margin-left: 8px
    
.ant-modal-centered .ant-modal
    @media (max-width $md)
        width: 100% !important
    
.ant-tabs-nav
    .ant-tabs-tab
        color #334657
        font-size: 16px
        
        &-active
            color $color
            font-weight: 900
            
.ant-radio-input:focus
    &+.ant-radio-inner
        border-color $color
        
.ant-radio-inner
    transition 0s
    
.ant-select-selection__placeholder
.ant-select-search__field__placeholder
    left: 21px
    right: 0
    
    text-align: right
    direciton rtl
    
.ant-select-selection-selected-value
    float: right
    padding-left: 20px
    padding-right: 0
    
.ant-select-arrow
    left: 11px
    right: auto


// Hide flickity fullscreen button
.flickity-fullscreen-button-view
	display none !important

/**
 * React image lightbox
 */

.ReactModalPortal
    position relative
    z-index 999999

.bm
    &-burger-button
        position: relative
        padding: 10px
        box-sizing content-box
        
        width: 30px
        height: 24px
        
        > span
            position: relative
            display: block
            height: 100%
            
        @media (min-width $md + 1)
            display: none
    
    &-burger-bars
        background-color: $color;
        height: 2px !important
    
    &-overlay
    &-menu-wrap
        top: 0
        right: 0
    
    &-menu-wrap
        max-width: 70%
    
    &-menu
        background-color: #fff;
        padding-top: 2rem
