@import 'variables'

.label
    font-size 1rem
    font-weight 600
    
    color #334657
    display block
    
    margin-bottom .4rem
    
.input
    &
    :global(.ant-select-selection)
    :global(.ant-select-selection__rendered)
        line-height 40px !important
        height 40px !important
        
        color #334657
        border-color #cbd8e3
        
        /input::-webkit-input-placeholder
        :global(.ant-select-selection__placeholder)
        /:global(.ant-select-selection__placeholder)
        &::-webkit-input-placeholder
            color rgba(117, 140, 160, .61) !important
        
        &:hover
        &:focus
            border-color $color

            /input:focus::-webkit-input-placeholder
            :global(.ant-select-selection__placeholder)
            /:global(.ant-select-focused .ant-select-selection__placeholder)
            &::-webkit-input-placeholder
                color rgba(117, 140, 160, .40) !important