@import "variables"

@font-face
  font-family 'Chibaki'
  src url(icomoon-font-path + '/Chibaki.ttf?6jkgpp') format('truetype'), url(icomoon-font-path + '/Chibaki.woff?6jkgpp') format('woff'), url(icomoon-font-path + '/Chibaki.svg?6jkgpp#Chibaki') format('svg')
  font-weight normal
  font-style normal
  text-rendering optimizeLegibility

[class^="icon-"], [class*=" icon-"]
  font-family 'Chibaki' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &:before
    vertical-align: middle

.icon-search
  &:before
    content icon-search
.icon-chevron-down
  &:before
    content icon-chevron-down  
.icon-check
  &:before
    content icon-check
.icon-back
  &:before
    content icon-back
.icon-next
  &:before
    content icon-next
.icon-calendar
  &:before
    content icon-calendar
.icon-refresh
  &:before
    content icon-refresh
.icon-money
  &:before
    content icon-money
.icon-close-circle
  &:before
    content icon-close-circle
.icon-hand-shake
  &:before
    content icon-hand-shake
.icon-person
  &:before
    content icon-person
.icon-msg
  &:before
    content icon-msg
.icon-people
  &:before
    content icon-people
.icon-circle
  &:before
    content icon-circle
.icon-arrow-right
  &:before
    content icon-arrow-right
.icon-arrow-left
  &:before
    content icon-arrow-left
.icon-educate
  &:before
    content icon-educate
.icon-computer
  &:before
    content icon-computer
.icon-house
  &:before
    content icon-house
.icon-art
  &:before
    content icon-art
.icon-lang
  &:before
    content icon-lang
.icon-other
  &:before
    content icon-other
.icon-tech
  &:before
    content icon-tech
.icon-job
  &:before
    content icon-job
.icon-sport
  &:before
    content icon-sport
.icon-clock
  &:before
    content icon-clock
.icon-settings
  &:before
    content icon-settings
.icon-backgroundCheck
  &:before
    content icon-backgroundCheck
.icon-identity
  &:before
    content icon-identity
.icon-degree
  &:before
    content icon-degree
.icon-idCard
  &:before
    content icon-idCard
.icon-map
  &:before
    content icon-map
.icon-creditCard
  &:before
    content icon-creditCard
.icon-cog
  &:before
    content icon-cog
.icon-edit
  &:before
    content icon-edit
.icon-mail
  &:before
    content icon-mail
.icon-exit
  &:before
    content icon-exit
.icon-share
  &:before
    content icon-share
.icon-bell
  &:before
    content icon-bell
.icon-send
  &:before
    content icon-send
.icon-visible
  &:before
    content icon-visible
.icon-avatar
  &:before
    content icon-avatar
.icon-avatar-border
  &:before
    content icon-avatar-border
.icon-chat
  &:before
    content icon-chat
.icon-stack
  &:before
    content icon-stack
.icon-mobile
  &:before
    content icon-mobile
.icon-clipboard
  &:before
    content icon-clipboard
.icon-info-border
  &:before
    content icon-info-border
.icon-phone
  &:before
    content icon-phone
.icon-label
  &:before
    content icon-label
.icon-pin
  &:before
    content icon-pin
.icon-filter
  &:before
    content icon-filter
.icon-people1
  &:before
    content icon-people1
.icon-checklist
  &:before
    content icon-checklist
.icon-camera
  &:before
    content icon-camera
.icon-shop
  &:before
    content icon-shop
.icon-tag
  &:before
    content icon-tag
.icon-check-bold
  &:before
    content icon-check-bold
.icon-star-outline
  &:before
    content icon-star-outline
.icon-star
  &:before
    content icon-star
.icon-reload
  &:before
    content icon-reload
.icon-close
  &:before
    content icon-close
.icon-instagram
  &:before
    content icon-instagram
.icon-telegram
  &:before
    content icon-telegram
.icon-twitter
  &:before
    content icon-twitter
.icon-linkedin
  &:before
    content icon-linkedin
