@import 'variables'

.profImage
	width 120px
	height 120px
	
	margin-right 20px
	
	flex 0 0 120px
	
	border-radius 5px
	border 1px solid rgba(155, 178, 198, .3)
	
	overflow hidden

	a
		display block
		
	img
		width 100%
	
	.is-fullscreen &
		width auto
		height auto
		margin 0
		
		flex 0 0 auto