.c-section

	&__heading
	&__subheading
		text-align center
		color #424242

	&__heading
		color #5a5a5a
		font-size 1.6rem
		font-weight 500
		margin-bottom 3.5rem
		margin-top: 3.5rem
		text-align center

	&__subheading
		font-size 1.3rem

	&__content
		margin-top 70px

		@media (max-width 959px)
			margin-top 25px

		h3
			font-size 16px
			line-height 1.9

		p
			color $color
			margin-top 10px
			font-size 14px
			line-height 1.8

	&__col
		padding 5rem

		@media (max-width 959px)
			max-width 500px !important
			padding 2rem 2rem 4rem
			margin 0 auto

			&--img
				width 100%
				max-width 340px !important
				padding-top 0