// Colors
$color = #1e87f0
$accentColor = #00c853 

$black1 = #424242
$black2 = #616161
$black3 = #757575
$black4 = #999999

// Icons
icomoon-font-path ?= "/assets/fonts/icon"

icon-clock = "\e91d"
icon-settings = "\e91e"
icon-backgroundCheck = "\e91f"
icon-identity = "\e920"
icon-degree = "\e921"
icon-idCard = "\e922"
icon-map = "\e923"
icon-creditCard = "\e924"
icon-cog = "\e925"
icon-edit = "\e926"
icon-mail = "\e927"
icon-exit = "\e928"
icon-share = "\e929"
icon-bell = "\e92a"
icon-send = "\e92b"
icon-visible = "\e92c"
icon-avatar = "\e92d"
icon-avatar-border = "\e92e"
icon-chat = "\e92f"
icon-stack = "\e930"
icon-mobile = "\e931"
icon-clipboard = "\e932"
icon-info-border = "\e933"
icon-phone = "\e934"
icon-label = "\e935"
icon-pin = "\e936"
icon-filter = "\e937"
icon-people1 = "\e938"
icon-checklist = "\e939"
icon-camera = "\e93a"
icon-shop = "\e93b"
icon-tag = "\e93c"
icon-check-bold = "\e93d"
icon-star-outline = "\e93e"
icon-star = "\e93f"
icon-reload = "\e940"
icon-check = "\e903"
icon-back = "\e906"
icon-next = "\e907"
icon-calendar = "\e908"
icon-refresh = "\e909"
icon-money = "\e90a"
icon-close-circle = "\e90b"
icon-hand-shake = "\e90c"
icon-person = "\e90d"
icon-msg = "\e90e"
icon-people = "\e90f"
icon-circle = "\e911"
icon-arrow-right = "\e912"
icon-arrow-left = "\e913"
icon-educate = "\e914"
icon-computer = "\e915"
icon-house = "\e916"
icon-art = "\e917"
icon-lang = "\e918"
icon-other = "\e919"
icon-tech = "\e91a"
icon-job = "\e91b"
icon-sport = "\e91c"
icon-close = "\ea0f"
icon-instagram = "\ea92"
icon-telegram = "\ea95"
icon-twitter = "\ea96"
icon-linkedin = "\eaca"


// Responsive Resolutions
$xl = 1200px
$lg = 992px
$md = 768px
$sm = 576px
$xs = 480px

// @slider
$slider = './assets/images/hero/'

// @hero
$heroHeight 				= 60vh
$heroHeightMd				= 45vh

$heroMaxHeight			= 500px

$heroContactHeight 		= 55vh

$heroBackIndex 			= 1
$heroContentIndex 		= 100

$headerHeight 			= 60px
$headerHeightMd			= 50px
$sabHeight 				= 50px
$sabHeightMd			= 40px

$headerSabHeight 		= $headerHeight + $sabHeight
$headerSabHeightMd 		= $headerHeightMd + $sabHeightMd
