@import '../../../styles/variables.styl'

.row
    display flex
    flex-flow: row wrap

.col
    composes l-flex-1 from '../../../styles/grid.styl'

    @media (min-width $md)
        flex-basis 33.3333333%