.wrapper {
	background-color: #DEE5EB;
}

.container {
	padding: 0 20px;
}

.hero {
	position: relative;

	min-height: 300px;
	overflow: hidden;

	margin-top: 60px;
	padding: 60px 20px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.heroBg {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 1;
}

.heroBg:after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .3);
	z-index: 2;
}

.heroBg img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.heroContent {
	position: relative;

	text-align: center;

	z-index: 10;
}

.heroTitle {
	font-size: 3rem;
	font-weight: 900;

	margin-bottom: 1rem;

	color: #fff;
	text-align: center;

	line-height: 2;
	text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.price {
	font-size: 1.5rem;
	font-weight: 900;

	text-align: center;

	color: #02BE64;
}

.desc {
	background-color: #fff;

	padding: 2rem;
	border-radius: 5px;
	margin-top: 2.8rem;
}

@media (max-width: 768px) {
	.container {
		padding: 0 10px;
	}

	.hero {
		min-height: 250px;
		padding: 30px 10px;
	}

	.heroTitle {
		font-size: 2.2rem;

		margin-bottom: .7rem;

		line-height: 1.5;
	}
}
