.header-image_container{
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.page-title{
    font-size: 40px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
    text-align: center;
    line-height: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 3px rgba(0,0,0,.8), 0 0 12px rgba(0,0,0,.3);

}
.absolute-cover{
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    z-index: 21;
}
.prof-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;

}
*{box-sizing: border-box}