.services_heading {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: right;
}
.Container {
	padding: 1.5rem;
}
.title {
	text-align: right;
	display: block;
	border: 0;
	padding-bottom: 0.4rem;
	margin-bottom: 0.6rem;
	color: #03a9f4;
	font-weight: 400;
	font-size: 0.9rem;
}
.seprator {
	border-bottom: 1px solid #03a9f4;
}
.paddingTop{
	padding-top: 60px;
}
.section{
	padding-top: 2rem;
}

