@import '../../styles/variables.styl'

.footerInner {
  padding: 100px 15px 20px;
}

.removeMargin {
  margin-left 0
  margin-right 0
}

.copyRight {
  text-align: center;
  padding: 10px;
}

.copyRightText {
  font-weight: 100;
  font-size: 1.1rem;
}

.logo {
  width: 50px;
  height: 50px;

  margin-bottom: 1.5rem;
}

.link
  display: inline-block;
  color: #666;
  font-weight: 900;
  font-size: 1rem;

  line-height: 2;

  transition: .1s;
  vertical-align: middle

  &
  &:hover
  &:focus
    text-decoration: none

.footerLink
  composes link
  border-bottom: 2px solid rgba(0, 0, 0, 0);

  padding: 0 1rem 0.2rem;
  margin: 10px;

  &:hover
  &:focus
    border-bottom-color: #1e87f0;

.iconLink
  composes link
  padding: 0 .5rem
  font-size: 2rem

  &:hover
  &:focus
    color $primary
