@import '../../styles/variables'

.logo
    width: 110px
    height: 40px
    
    margin 0 auto

.closeButton
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 15px 18px
    cursor: pointer
    
    appearance none
    border: none;
    background-color: transparent
    
    border-radius: 5px 0 0 0
    transition .15s
    
    &:hover
    &:focus
        outline none
        background-color: #eee

.modal
    @media (max-width $md)
        height: 100%
        max-width: none
        
        top: 0
        
        margin: 0
        padding: 0
        
        
        :global(.ant-modal-content)
            border-radius: 0
            height: 100%
        
    &Register
        :global(.ant-modal-header)
            border-bottom: 0
            padding-bottom: 0;
        
        :global(.ant-modal-body)
            padding-top: 0
            //padding-left: 0
            //padding-right: 0
        
    &Wrapper
        height: 100%
    
    :global(.ant-modal-close)
        left 0
        right auto
    
        &
        :global(.ant-modal-header)
            height: 73px
            
    :global(.ant-modal-content)
        display: flex
        flex-direction: column
    
    :global(.ant-modal-body)
        overflow-y: auto;
        height: 100%
        
        flex 1 1 100%
    
    :global(.ant-modal-body)
    :global(.ant-modal-header)
    :global(.ant-modal-footer)
        position relative
        z-index 5
    
    :global(.ant-modal-footer)
        border-top: 0
    
    &Header
        position relative

.form {
    min-height: 250px;
    height: 100%
    
    display: flex;
    flex-direction: column;
    justify-content: space-around
    
    @media (max-width $md) and (orientation: landscape) {
        min-height auto
    }
}

.footer {
    align-self: center;
}

.button {
    background-color: #ffffff;
    border: none;
}

.btn
    &Wrapper
        display: flex
        align-items: center
        justify-content: center
        
        &Loading
            padding: 5px 0 10px
            
    &Container
        display: flex
        align-items: center
        justify-content: space-between
    
    &Loader
        padding: 0 !important
        margin: 0 !important
        
        zoom .6 !important
        
        &Dot
            background-color: #fff !important
            
    &Submit
    &Back
        line-height 40px
        
    &Submit
        &:only-child
            flex 1 1 100%

    &Back
        margin 0 0 0 10px
        font-size: 12px
        padding: 0
        
        &:hover
        &:focus
            background-color: rgba(0,0,0,0) !important;
            color darken($color, 20%)
        
        &Icon
            padding-right: 10px
            font-weight: 900
            font-size: 12px !important
