.inputWrapper
  margin 25px 10px
  
.autocomplete
  form
  &Form
  :global(.ant-select-selection)
    padding: 0
    
  :global(.ant-select-selection__placeholder)
    margin-right: 12px !important
    
  :global(.c-autocomplete)
    display: block
    max-width: none;
    padding: 0
    
.fieldLabel
  composes label from '../../styles/form.styl'

.wrapper
  flex 1 1 100%
  
  direction ltr
  
  :global(.ant-tabs-tabpane)
    direction rtl
    
  :global(.ant-tabs-nav-scroll)
    text-align: center
  
.input
  //:global(.ant-input)
  text-align right !important
  direction rtl !important

  composes input from '../../styles/form.styl'
  
  &::-webkit-input-placeholder
    text-align: right !important
    direction rtl !important